@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    background-image: url(../img/bg.png);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1 {
    font-family: 'Style Script', cursive;
    font-size: 80px;
    font-weight: 600;
    color: rgb(5, 131, 180);
    letter-spacing: 1px;
    margin: 5px 30px;
}
.todoList {
    width: 500px;
    padding: 100px;
    border-radius: 5px 0 5px 0;
    background-color: rgb(218, 248, 255);
    padding: 10px;
    font-size: 16px;
    text-align: center;
}
.addBtn {
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(70, 141, 223);
    font-size: 16px;
    color:rgb(48, 24, 1);
    cursor: pointer;
}
.toDos {
    width: 100%;
}
.texts {
    padding: 5px;
    width: 350px;
    border: none;
}
.icon {
    color: rgb(6, 123, 177);
    font-size: larger;
    padding: 5px;
}